body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.chess-board{
  width: 50rem;
  height: 50rem;
}

.dark-blue{
  background-color: #00B7FF;
}

.light-blue{
  background-color:aquamarine;
}