<table class="chess-board">
    <tr>
        <td class="dark-blue">A8</td>
        <td class="light-blue">B8</td>
        <td class="dark-blue">C8</td>
        <td class="light-blue">D8</td>
        <td class="dark-blue">E8</td>
        <td class="light-blue">F8</td>
        <td class="dark-blue">G8</td>
        <td class="light-blue">H8</td>
    </tr>
    <tr>
        <td class="light-blue">A7</td>
        <td class="dark-blue">B7</td>
        <td class="light-blue">C7</td>
        <td class="dark-blue">D7</td>
        <td class="light-blue">E7</td>
        <td class="dark-blue">F7</td>
        <td class="light-blue">G7</td>
        <td class="dark-blue">H7</td>
    </tr>
    <tr>
        <td class="dark-blue">A6</td>
        <td class="light-blue">B6</td>
        <td class="dark-blue">C6</td>
        <td class="light-blue">D6</td>
        <td class="dark-blue">E6</td>
        <td class="light-blue">F6</td>
        <td class="dark-blue">G6</td>
        <td class="light-blue">H6</td>
    </tr>
    <tr>
        <td class="light-blue">A5</td>
        <td class="dark-blue">B5</td>
        <td class="light-blue">C5</td>
        <td class="dark-blue">D5</td>
        <td class="light-blue">E5</td>
        <td class="dark-blue">F5</td>
        <td class="light-blue">G5</td>
        <td class="dark-blue">H5</td>
    </tr>
    <tr>
        <td class="dark-blue">A4</td>
        <td class="light-blue">B4</td>
        <td class="dark-blue">C4</td>
        <td class="light-blue">D4</td>
        <td class="dark-blue">E4</td>
        <td class="light-blue">F4</td>
        <td class="dark-blue">G4</td>
        <td class="light-blue">H4</td>
    </tr>
    <tr>
        <td class="light-blue">A3</td>
        <td class="dark-blue">B3</td>
        <td class="light-blue">C3</td>
        <td class="dark-blue">D3</td>
        <td class="light-blue">E3</td>
        <td class="dark-blue">F3</td>
        <td class="light-blue">G3</td>
        <td class="dark-blue">H3</td>
    </tr>
    <tr>
        <td class="dark-blue">A2</td>
        <td class="light-blue">B2</td>
        <td class="dark-blue">C2</td>
        <td class="light-blue">D2</td>
        <td class="dark-blue">E2</td>
        <td class="light-blue">F2</td>
        <td class="dark-blue">G2</td>
        <td class="light-blue">H2</td>
    </tr>
    <tr>
        <td class="light-blue">A1</td>
        <td class="dark-blue">B1</td>
        <td class="light-blue">C1</td>
        <td class="dark-blue">D1</td>
        <td class="light-blue">E1</td>
        <td class="dark-blue">F1</td>
        <td class="light-blue">G1</td>
        <td class="dark-blue">H1</td>
    </tr>
</table>