<!DOCTYPE html>
<html>
  <head>
    <nav> Home | About our chess</nav>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
